body {
  padding: 0;
  margin: 0;
}

a[title="undefined"],
a:not([href^="https://www.theguardian.com/"]) {
  color: red;
  font-weight: bold;

}

a[title="undefined"]::before,
a:not([href^="https://www.theguardian.com/"])::before {
  content: "ERROR ";
}
